TELEGRAM_TOKEN="1111111111:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
TELEGRAM_CHAT_ID="1111111111"
YAD2_FILTER_URL="https://www.yad2.co.il/realestate/rent/some_city?property=1&minRooms=1&maxRooms=5&minPrice=0&maxPrice=5000&minFloor=1&priceOnly=1&parking=1&elevator=1&multiArea=11&multiCity=1100"
